

<div >
    <button class="btn btn-primary" ng-click="editCourse()" style="margin-left: 60%;margin-top: -20%;" ng-if="isNotSales">edit course</button>
    <img ng-src="{{course.image}}" style="width: 20%; height: 25%"/>
    </br>
    name: {{course.name}}
    </br>
    description: {{course.description}}
    </br>
    <div ng-if="studentsValue">
        </br>
        students:
        </br>
    </div>
    <div ng-repeat="students in course.students">
        name: {{students.name}}
    </div>
</div>