

<div >
     <button class="btn btn-primary" ng-click="editStudent()" style="margin-left: 60%;margin-top: -20%;">edit student</button>
     <img ng-src="{{student.image}}" style="width: 20%; height: 25%"/>
     </br>
     name: {{student.name}}
     </br>
     phone: {{student.phone}}
     </br>
     email: {{student.email}}

     </br>
     <div ng-if="coursesValue">
          </br>
          courses:
          </br>
     </div>
     <div ng-repeat="courses in student.courses">
               name: {{courses.name}}
          </div>
</div>